// ----- CARD ----- //
.card {
    text-align: center;
    display: block;
    .card-image {
        width: 100%;
        @include flex-center-center;
        border: 1px solid $grey_100;
        @include border-radius(0.75rem);
        height: 13.563rem;
        margin-bottom: 1rem;
        @include respond-to(xs) {
            height: 11rem;
        }
    }
    h3 {
        font-weight: 500;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &--ticket {
        h3 {
            @include flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .info {
                flex: 0 0 auto;
            }
            .info-content {
                text-align: left;
                right: 0;
                left: auto;
                width: auto;
            }
        }
    }
}
// ----- /CARD ----- //
// 