// ----- DROPDOWNS ----- //
.dropdown {
    position: relative;
    min-width: 8.75rem;
    @include respond-to(xs) {
        min-width: 7.5rem;
    }
    &.error {
        .dropdown-error {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }
        .dropdown-button {
            outline: 2px solid $red_500;
        }
        .dropdown-menu {
            border-color: $red_500;
        }
        .dropdown-menu-item {
            border-top-color: $red_500;
        }
    }
    .dropdown-button {
        background-color: $white_50;
        padding: 0.938rem 1.375rem 0.938rem 0.875rem;
        font-size: 1rem;
        font-weight: 500;
        color: $black;
        border: 1px solid $grey_100;
        @include border-radius(0.5rem);
        @include flex;
        align-items: center;
        width: 100%;
        cursor: pointer;
        font-family: $font-family-base;
        @include respond-to(xs) {
            padding: 0.938rem 1rem 0.938rem 1rem;
        }
        &::after {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 9L12 15L18 9' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            width: 1.5rem;
            height: 1.5rem;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            display: inline-block;
            transition: 0.4s;
            margin-left: auto;
        }
        &.active {
            &::after {
                transform: rotate(180deg);
            }
        }
        &--error {
            border-color: $secondary_100;
        }
    }
    .dropdown-menu {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        margin-top: 0.25rem;
        width: 100%;
        transition: 0.4s;
        border: 1px solid $grey_100;
        @include border-radius(0.5rem);
        overflow: hidden;
        z-index: 100;   
        &.show {
            opacity: 1;
            visibility: visible;
        }
        li {
            &:first-child .dropdown-menu-item{
                border-top-color: transparent;
            }
        }
    }
    .dropdown-menu-item {
        padding: 1.188rem 1rem;
        @include flex;
        align-items: center;
        border: 0;
        border-top: 1px solid $grey_100;
        border-bottom: 1px solid transparent;
        transition: 0.4s;
        width: 100%;
        background-color: $white;
        cursor: pointer;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 500;
        font-family: $font-family-base;
        @include respond-to(xs) {
            padding-right: 1.25rem;
        }
        &:hover {
            background-color: $grey_100;
        }
        &::after {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_818_44334)'%3E%3Cpath d='M5.83301 10.4163L8.33301 12.9163L14.1663 7.08301' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.0003 18.3337C14.6027 18.3337 18.3337 14.6027 18.3337 10.0003C18.3337 5.39795 14.6027 1.66699 10.0003 1.66699C5.39795 1.66699 1.66699 5.39795 1.66699 10.0003C1.66699 14.6027 5.39795 18.3337 10.0003 18.3337Z' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_818_44334'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 1.25rem;
            height: 1.25rem;
            display: inline-block;
            margin-left: auto;
            opacity: 0;
            visibility: hidden;
            transition: 0.4s;
        }
        &.default-val {
            &::after {
                visibility: visible;
                opacity: 1;
            }
        }
        &.selected {
            background-color: $dark_purple;
            color: $white;
            border-top-color: $dark_purple;
            &::after {
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_818_44387)'%3E%3Cpath d='M5.83301 10.4163L8.33301 12.9163L14.1663 7.08301' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.0003 18.3337C14.6027 18.3337 18.3337 14.6027 18.3337 10.0003C18.3337 5.39795 14.6027 1.66699 10.0003 1.66699C5.39795 1.66699 1.66699 5.39795 1.66699 10.0003C1.66699 14.6027 5.39795 18.3337 10.0003 18.3337Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_818_44387'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .dropdown-error {
        color: $secondary_100;
        padding-top: 0.5rem;
        display: flex;
        white-space: nowrap;
        transition: 0.4s;
        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        font-size: 0.875rem;
        line-height: 1.313rem;
        font-weight: 500;
        position: absolute;
        .icon {
            width: 1.313rem;
            height: 1.313rem;
            flex: 0 0 1.313rem;
            margin-right: 0.5rem;
        }
    }
}
.formfield-group {
    &--error {
        .dropdown {
            .dropdown-button {
                border-color: $red_500;
            }
            .dropdown-menu {
                border-color: $red_500;
            }
            .dropdown-menu-item {
                border-top-color: $red_500;
            }
        }
    }
}
// ----- DROPDOWNS ----- //
// 