// ----- INFO ----- //
.info {
    margin-left: 0.5rem;
    position: relative;
    flex: 1;
    @include respond-to(lg) {
        position: static;
    }
    .info-icon {
        @include flex-center-center;  
        &:hover ~ .info-content {
            opacity: 1;
            visibility: visible;
        }  
    }
    .info-content {
        background-color: $white;
        @include border-radius(0.75rem);
        box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 5%);
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
        position: absolute;
        color: $dark_grey_100;
        visibility: hidden;
        opacity: 0;
        transition: 0.4s;
        z-index: 100;
        padding: 1rem 1rem;
        margin-top: 0.75rem;
        left: -1.2rem;
        min-width: 32.5rem;
        @include respond-to(lg) {
            left: auto;
            margin-top: 0.25rem;
            min-width: 15rem;
            max-width: 25rem;
            width: auto;
            margin-left: -2.75rem;
        }
        @include respond-to(xs) {
            min-width: 12.8rem;
            max-width: 16.063rem;
        }
        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
// ----- /INFO ----- //
// 