// ----- MODAL ----- //
.modal-content {
    background-color: $white;
    border: 1px solid $grey_100;
    box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 5%);
    @include border-radius(2rem);
    max-width: 42.375rem;
    padding: 2rem 2rem;
    position: relative;
    margin: 0 auto;
    z-index: 1055;
    width: 100%;
    @include respond-to(xs) {
        padding: 1.5rem 1rem;
        max-width: 21.438rem;
    }
    .btn-close {
        position: absolute;
        border: 0;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: transparent;
        right: 2rem;
        top: 2.375rem;
        width: 1.5rem;
        height: 1.5rem;
        padding: 0;
        @include flex-center-center;
        cursor: pointer;
        transition: 0.4s;
        @include respond-to(xs) {
            right: 1rem;
            top: 1.875rem;
        }
        &:hover {
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.75781 17.2431L12.0004 12.0005M12.0004 12.0005L17.243 6.75781M12.0004 12.0005L6.75781 6.75781M12.0004 12.0005L17.243 17.2431' stroke='%23532494' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }
    }
    h2 {
        margin-bottom: 1.5rem;
    }
    .formfield {
        margin-bottom: 1rem;
    }
    .search {
        margin-top: 0.5rem;
    }
    .btn {
        width: 100%;
        margin-top: 0.5rem;
        @include respond-to(xs) {
            margin-bottom: 0.5rem;
        }
        &--add {
            width: auto;
        }
    }
    .buttons-row {
        @include respond-to(xs) {
            flex-direction: column-reverse;
        }
        .col {
            &:first-child {
                .btn {
                    @include respond-to(xs) {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1055;
    display: block;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    transition: .15s linear;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    transform: translateY(-50px);
    &.show {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    .modal-dialog {
        position: relative;
        width: auto;
        margin: .5rem;
        display: flex;
        align-items: center;
        margin: 1.75rem auto;
        min-height: calc(100% - 3.5rem);
    }
    &--lose-progress {
        .modal-content {
            text-align: center;
            max-width: 22.438rem;
            @include border-radius(0.75rem);
            padding: 1.5rem 2rem;
            @include respond-to(xs) {
                max-width: 21.438rem;
                padding: 1.5rem 1.5rem 1.4rem;
            }
            .btn-close {
                top: 1.5rem;
                right: 2rem;
                @include respond-to(xs) {
                    right: 1.5rem;
                }
            }
            h3 {
                font-size: 1.25rem;
                line-height: 1.875rem;
                margin-bottom: 0.25rem;
            }
            .icon {
                width: 2.5rem;
                height: 2.5rem;
                display: block;
                margin: 0 auto 0.5rem;
            }
            p {
                padding: 0 0.5rem; 
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
        .buttons-row {
            margin-left: -0.438rem;
            margin-right: -0.438rem;
            .col {
                padding: 0 0.438rem;
            }
        }
        .btn {
            padding-top: 0.438rem;
            padding-bottom: 0.438rem;
            margin-top: 1rem;
            @include respond-to(xs) {
                margin-bottom: 0;
            }
            &--red {
                min-width: 9.2rem;
            }
        }
    }
    &--add-venue {
        .formfield {
            .formfield-textarea {
                margin-top: 1rem;
                padding-left: 0.813rem;
            }
        }
        .formfield-bottom-text {
            margin-top: 0.25rem;
        }
        .modal-content {
            padding-bottom: 1.5rem;
        }
    }
    &--choose-categories {
        .modal-content {
            padding: 0;
            .btn-close {
                z-index: 100;
                top: 1.4rem;
            }
        }
        .search {
            margin: 0;
            .search-results {
                position: static;
                border: 0;
                margin-left: -1px;
                margin-right: -1px;
            }
            .search-input {
                border-top: 0;
                border-left: 0;
                border-right: 0;
                border-top-left-radius: 2rem;
                border-top-right-radius: 2rem;
                height: 4.5rem;
                padding-left: 3.75rem;
                @include respond-to(xs) {
                    padding-left: 2.75rem;
                }
            }
            .icon-search {
                left: 2rem;
                @include respond-to(xs) {
                    left: 1rem;
                }
            }
            .search-items-wrap {
                .btn {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
            .search-items-wrap {
                &::after {
                    content: "";
                    height: 4.625rem;
                    width: 100%;
                    background: linear-gradient(to top, $white, rgb(255 255 255 / 0%));
                    display: block;
                    bottom: 0;
                    position: absolute;
                    border-bottom-left-radius: 2rem;
                    border-bottom-right-radius: 2rem;
                    @include respond-to(xs) {
                        height: 3.5rem;
                    }
                }
            }
        }
    }
    &--dates {
        .modal-content {
            max-width: 43.375rem;
            @include respond-to(xs) {
                max-width: 21.438rem;
                padding-bottom: 1.938rem;
            }
            h2 {
                margin-bottom: 0.5rem;
            }
            p {
                font-weight: 400;
                margin-bottom: 1rem;
            }
            .btn-close {
                right: 2.875rem;
                @include respond-to(xs) {
                    right: 1rem;
                    top: 1.5rem;
                }
            }
        }
        .list-nav-button {
            @include flex;
            align-items: center;
            border: 0;
            @include border-radius(0);
            background-color: transparent;
            font-weight: 500;
            color: $purple_500;
            margin-left: auto;
            padding: 0;
            .icon {
                @include flex-center-center;
                width: 1.5rem;
                height: 1.5rem;
                flex: 0 0 1.5rem;
                margin-left: 0.75rem;
            }
            .text-mob {
                display: none;
                @include respond-to(xs) {
                    display: block;
                }
            }
            .text-desk {
                @include respond-to(xs) {
                    display: none;
                }
            }
        }
        .modal-item {
            @include flex;
            align-items: center;
            padding: 0.75rem 0 0.75rem 1.5rem;
            .checkbox {
                @include respond-to(xs) {
                    flex: 0 0 auto;
                }
                .checkbox-input {
                    width: 1.5rem;
                    height: 1.5rem;
                    flex: 0 0 1.5rem;
                    margin-right: 1rem;
                }
            }
        }
        .checkbox {
            margin-bottom: 0;
            .checkbox-label {
                font-weight: 500;
            }
        }
        .checkboxes-list {
            border: 1px solid $grey_100;
            @include border-radius(1rem);
            max-height: 21.063rem;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            overflow: hidden;
            .checkboxes-list-item {
                padding: 0.75rem 1.438rem 0.688rem;
                border-bottom: 1px solid $grey_100;
                &:last-child {
                    border-bottom: 0;
                }
            }
        }
    }
    .modal-buttons {
        @include flex;
        margin-top: 0.75rem;
        @include respond-to(xs) {
            flex-direction: column-reverse;
            flex-wrap: nowrap;
        }
        .btn {
            width: auto;
            flex: 1;
            margin: 0 0.5rem;
            @include respond-to(xs) {
                flex: 0 0 100%;
                margin: 0 auto 1rem;
                width: 100%;
            }
            &:first-child {
                @include respond-to(xs) {
                    margin-bottom: 0;
                }
            }
        }
    }
    &--customise-dates {
        .modal-content {
            padding-bottom: 4.563rem;
            @include respond-to(xs) {
                padding-bottom: 2.313rem;
            }
            p {
                margin-bottom: 1.75rem;
                @include respond-to(xs) {
                    margin-bottom: 1.5rem;
                }
            }
        }
        .checkboxes-list {
            max-height: 24.063rem;
            @include respond-to(xs) {
                max-height: 21rem;
            }
        }
        .modal-buttons {
            margin-top: 3.8rem;
            @include respond-to(xs) {
                margin-top: 1.75rem;
            }
        }
    }
    &--added-listing {
        .modal-content {
            max-width: 30.063rem;
            @include border-radius(0.75rem);
            text-align: center;
            padding: 2.063rem 0.938rem 1.5rem;
            @include respond-to(xs) {
                max-width: 21.438rem;
                padding-top: 1.5rem;
            }
            h3 {
                font-size: 1.25rem;
                line-height: 1.875rem;
                margin-bottom: 1.5rem;
            }
            p {
                padding: 0 1rem;
                margin-bottom: 1.5rem;
            }
        }
        .modal-buttons {
            margin-right: -0.3rem;
            @include respond-to(xs) {
                margin-right: 0;
            }
            .btn {
                margin: 0 0.188rem;
                padding: 0.438rem 1rem;
                @include respond-to(xs) {
                    margin: 0;
                    margin-bottom: 1rem;
                }
                &--secondary {
                    flex: 0 0 44.8%;
                    max-width: 44.8%;
                    @include respond-to(xs) {
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}
.modal-bg {
    position: fixed;
    inset: 0;
    background-color: #170A29;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    &.show {
        opacity: 0.7;
        visibility: visible;
    }
}
// ----- /MODAL ----- //
// 