// ----- NOTIFICATIONS ----- //
.notification {
    position: absolute;
    top: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    background-color: $white;
    @include border-radius(0.5rem);
    border: 1px solid $grey_100;
    box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 5%);
    min-width: 28.5rem;
    @include flex;
    align-items: center;
    z-index: 1001;
    font-weight: 700;
    color: $black;
    padding: 1rem 1rem;
    @include respond-to(xs) {
        left: 1rem;
        right: 1rem;
        width: auto;
        transform: translateX(0);
        min-width: 1rem;
    }
    .icon {
        width: 1.5rem;
        height: 1.5rem;
        flex: 0 0 1.5rem;
        margin-right: 1rem;
    }
    > span {
        flex: 1;
    }
    .btn-close {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        position: absolute;
        border: 0;
        padding: 0;
        background-color: transparent;
        @include flex-center-center;
        width: 1.5rem;
        height: 1.5rem;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        &:hover {
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.75781 17.2431L12.0004 12.0005M12.0004 12.0005L17.243 6.75781M12.0004 12.0005L6.75781 6.75781M12.0004 12.0005L17.243 17.2431' stroke='%23532494' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }
    }
    &--activated {
        min-width: 29.938rem;
        top: 4.75rem;
        padding: 1rem 0.625rem 1rem 1rem;
        @include respond-to(xs) {
            min-width: 1rem;
            top: 8.5rem;
        }
    }
}
// ----- /NOTIFICATIONS ----- //
// 