// ----- WHITE BOX ----- //
.white-box {
    background-color: $white;
    position: relative;
    box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 5%);
    @include border-radius(2rem);
    border: 1px solid $grey_100;
    padding: 2rem 2rem;
    max-width: 43.375em;
    margin: 0 auto;
    text-align: left;
    @include respond-to(xs) {
        padding: 1.5rem 1rem;
    }
    .formfield {
        &:last-child {
            margin-bottom: 0;
        }
    }
    .formfields-row {
        position: relative;
        .formfield-error {
            display: none;
            z-index: 10;
            &.show {
                @include flex;
                opacity: 1;
                visibility: visible;
                transform: translate(0);
            }
        }
    }
    .box-footer {
        border-top: 1px solid $grey_100;
        margin: 0 -2rem;
        padding: 0.875rem 1.875rem 0;
        @include respond-to(xs) {
            margin: 0 -1rem;
            padding: 0.875rem 0.938rem 0;
        }
    }
    .boxes-row {
        margin-top: 0.5rem;
        transition: 0.4s;
        .col {
            padding: 0 0.5rem;
            flex: 0 0 50%;
            max-width: 50%;
            transition: 0.4s;
            @include respond-to(xs) {
                flex: 0 0 100%;
                max-width: 100%;
            }
            &:nth-last-child(-n + 2) {
                .box-term {
                    margin-bottom: 0;
                    @include respond-to(xs) {
                        margin-bottom: 0.5rem;
                    }
                }
            }
            &:last-child {
                .box-term {
                    margin-bottom: 0;
                }
            }
        }
    }
    &--activity {
        padding: 0;
        .box-head {
            background-color: $white_50;
            @include flex;
            padding: 0.75rem 1.7rem;
            color: $black;
            font-weight: 500;
            text-align: left;
            border-bottom: 1px solid $white_50;
            @include respond-to(xs) {
                padding: 0.75rem 3.2rem 1rem;
            }
            .col {
                @include respond-to(xs) {
                    display: none;
                }
                &--activity {
                    @include respond-to(xs) {
                        display: block;
                        font-weight: 700;
                        margin-bottom: 0;
                    }
                }
            }
        }
        .col {
            padding: 0;
            flex: 1;
            @include flex;
            align-items: center;
            @include respond-to(xs) {
                align-items: flex-start;
            }
            &--activity {
                flex: 0 0 25.3%;
                max-width: 25.3%;
                @include respond-to(xs) {
                    flex: 0 0 100%;
                    max-width: 100%;
                    order: 1;
                    margin-bottom: 0.5rem;
                }
            }
            &--age-range {
                flex: 0 0 30.8%;
                max-width: 30.8%;
                @include respond-to(xs) {
                    flex: 0 0 100%;
                    max-width: 100%;
                    order: 3;
                }
            }
            &--active-listings {
                text-align: center;
                justify-content: center;
                @include respond-to(xs) {
                    order: 2;
                    justify-content: flex-start;
                    margin-bottom: 0.6rem;
                }
            }
            &--edit {
                justify-content: flex-end;
            }
        }
    }
}
// ----- /WHITE BOX ----- //
// 