// ----- SECTION EVENT DATES ----- //
.section-event-dates {
    padding-top: 13.4rem;
    @include respond-to(xs) {
        padding-top: 1.45rem;
    }
    .white-box {
        .formfield-label {
            margin-top: -0.3rem;
        }
    }
    .buttons-wrap {
        margin-top: 3.4rem;
        @include respond-to(xs) {
            margin-top: 1.5rem;
        }
    }
}
// ----- /SECTION EVENT DATES ----- //
// 