// ----- SECTION VENUE DETAILS ----- //
.section-venue-details {
    padding-top: 12.2rem;
    padding-bottom: 6rem;
    @include respond-to(xs) {
        padding-top: 1.4rem;
        padding-bottom: 1.5rem;
    }
    .title {
        p {
            max-width: 40rem;
            margin: 0 auto;
        }
    }
    .white-box {
        .formfield {
            &:last-of-type {
                margin-bottom: 1rem;
            }
        }
    }
}
// ----- /SECTION VENUE DETAILS ----- //
// 