// ----- SECTION ----- //
.section {
    text-align: center;
    min-height: calc(100vh - 4rem);
    position: relative;
    z-index: 1;
    padding-top: 6.9rem;
    padding-bottom: 3rem;
    @include respond-to(xs) {
        padding-top: 0.875rem;
        min-height: calc(100vh - 4.313rem);
        display: flex;
        flex-direction: column;
        padding-bottom: 1.5rem;
    }
    &::after {
        content: "";
        position: absolute;
        background: radial-gradient(#532494, rgb(224 41 133 / 0%));
        width: 90rem;
        height: 90rem;
        opacity: 0.1;
        bottom: -45rem;
        z-index: -1;
        left: 0;
        right: 0;
        margin: 0 auto;
        filter: blur(10px);
        @include respond-to(xs) {
            width: 31.563rem;
            height: 31.563rem;
            bottom: -15.75rem;
            left: -50%;
            right: -50%;
        }
    }
    &--header-none {
        @include respond-to(xs) {
            min-height: 100vh;
        }
    }
    .title {
        .logo {
            display: block;
            margin: 0 auto 1.1rem;
            @include respond-to(xs) {
                max-width: 9.6rem;
                margin-bottom: 0.625rem;
            }
        }
    }
    > .btn--link {
        display: none;
        @include respond-to(xs) {
            display: flex;
            margin-top: auto;
        }
    }
    .buttons-wrap {
        @include flex;
        margin: 1.375rem auto 0;
        max-width: 43.375em;
        padding: 0 1.375rem;
        @include respond-to(xs) {
            flex-direction: column-reverse;
            padding: 0;
            margin-bottom: 1rem;
        }
        .btn {
            margin: 0 0.625rem;
            flex: 1;
            @include respond-to(xs) {
                width: 100%;
                flex: 0 0 100%;
                max-width: 100%;
                margin: 0;
            }
            &:not(:first-child) {
                @include respond-to(xs) {
                    margin-bottom: 1rem;
                }
            }
            &--primary {
                flex: 0 0 65.1%;
                max-width: 65.1%;
                @include respond-to(xs) {
                    width: 100%;
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
    }
}
// ----- /SECTION ----- //
// 